<script src="../assets/js/navigation.js"></script>

<ul>
  <li class="mobileOnly">
    <a href="/">
      {{ site.title | default: site.github.repository_name }}
    </a>
  </li>

  {% 
    assign current_link = page.url 
    | split: "" | reverse | join: ""
    | replace_first: "lmth.", "/"
    | remove_first: "/"
    | split: "" | reverse | join: ""
  %}

  <li class="mobileOnly mobileNavButton">
    <a id="hamburger">
      <svg viewBox="0 0 100 70" width="30" height="30" fill="#ddd">
        <rect width="100" height="12" rx="8"></rect>
        <rect y="30" width="100" height="12" rx="8"></rect>
        <rect y="60" width="100" height="12" rx="8"></rect>
      </svg>
    </a>

    <ul class="mobileMenu dropdown" aria-label="submenu">
      {% for item in site.data.navigation %}
      <li class="navLinks">
        <a href="{{ item.link }}" 
          {% if item.link == current_link %}
            class="currentPageLink"
          {% endif %}>
          {{ item.name }}
        </a>
    
        {% if item.sublinks %}
        <ul class="dropdown" aria-label="submenu">
          {% for subitem in item.sublinks %}
          <li class="navLinks">
            <a href="{{subitem.link}}"
              {% if subitem.link == current_link %}
                class="currentPageLink"
              {% endif %}>
              {{subitem.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>

  {% for item in site.data.navigation %}
  <li class="navLinks">
    <a href="{{ item.link }}" 
			{% if item.link == current_link %}
				class="currentPageLink"
			{% endif %}>
      {{ item.name }}
    </a>

    {% if item.sublinks %}
    <ul class="dropdown" aria-label="submenu">
      {% for subitem in item.sublinks %}
      <li>
        <a href="{{subitem.link}}"
          {% if subitem.link == current_link %}
            class="currentPageLink"
          {% endif %}>
          {{subitem.name}}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}

  <li class="title">
    {{ site.title | default: site.github.repository_name }}
  </li>
</ul>