/*******************
 * Overwrite theme *
 *******************/

div.wrapper {
	margin-top: 70px;
}
body section {
	padding-top: 0px;
	padding-bottom: 40px;
}

body #header nav {
	background: inherit;
}

#header nav ul li a.currentPageLink {
  color: #ffcc00;
	font-weight: bold;
}

/************
 * Dropdown *
 ************/
// from css-tricks.com

nav li {
  float: left;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
	background: linear-gradient(#aaa1 0%, #aaa4 20%, #aaa8 60%);
	border-radius: 0 0 5px 5px;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

/**************
 * Custom CSS *
 **************/

body * {
	transition-duration: 0.2s; // Joseph's buttery transitions
}

div.announcement {
	width: 100%;
	background-color: blue;
	color: gainsboro;
	padding: 5px;
	font-size: 20px;
	text-align: center;
}

.backLink {
	margin-bottom: 60px;
}

.face_image {
	height: 200px;
	// width: 200px;
	max-height: 70%;
	// max-width: 100%
}

// TODO mobile responsiveness
.squandb_embed {
	width: 100%;
	height: 509px;
}
.squandb_iframe {
	width: 100%;
	height: 509px;
}

/**************
 * Identifier *
 **************/

.clicker-wrapper {
	position: relative;
}
div.clicker {
	cursor: pointer;
	position: absolute;
	height: 200px;
	width: 200px;

	background: 
	linear-gradient(
		15deg, rgba(255,255,255,0) 49.5%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 50.5%
	),
	linear-gradient(
		-15deg, rgba(255,255,255,0) 49.5%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 50.5%
	),
	linear-gradient(
		75deg, rgba(255,255,255,0) 49.5%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 50.5%
	),
	linear-gradient(
		-75deg, rgba(255,255,255,0) 49.5%, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 50.5%
	),
	linear-gradient(white, white);
}

.clicker .section {
	position: absolute;
	color: black;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.clicker .section0 {
	left: 80px;
	top: 175px;
}
.clicker .section1 {
	left: 15px;
	top: 150px;
}
.clicker .section2 {
	left: 15px;
	top: 90px;
}
.clicker .section3 {
	left: 15px;
	top: 30px;
}
.clicker .section4 {
	left: 80px;
	top: 5px;
}
.clicker .section5 {
	left: 150px;
	top: 30px;
}
.clicker .section6 {
	left: 150px;
	top: 90px;
}
.clicker .section7 {
	left: 150px;
	top: 170px;
}
