---
title: OBL Cases
backLink: 
  url: "/learn"
---

<script>
  // Convert case table to tablesorter on load.
  $(function() {
    $("#cases").tablesorter({
      theme: "dark",
      sortList: [[1,0]],
      widgets: ["columnSelector", "filter", "zebra"],
      widget_options: {
        columnSelector_breakpoints: ['400px', '481px'],
        filter_hideFilters: true,
      }
    });
  })
</script>



<h1>OBL Tree</h1>

<p>
  <a href="/assets/images/obl_data_sorted_by_weights_1110.pdf" target="_blank">
    Click here to see a visual representation of the full OBL tree
  </a>
  with all cases linked to their parents/children.  
  The numbers next to each case represent their relative likelihood
  of appearing in a random solve.
  <!-- TODO when we fix the weights update these words -->
</p>

<p>
  There's also 
  <a href="/learn/cases_by_optimal">
    a page with cases sorted by optimal movecount
  </a> 
  if you don't want to search through the entire case list.
</p>



<h1>OBL Cases</h1>

<p>
  Click on the headers to sort, or type in the text boxes below 
  to filter the entire table.
</p>

<table id="cases" class="caseTable tablesorter">
  <thead>
    <tr>
      <th class="caseOptimalColumn" data-priority="1">Optimal</th>
      <th data-priority="critical">Case Name</th>
      <th class="caseImageColumn" data-priority="2" data-sorter="false" data-filter="false">Image</th>
    </tr>
  </thead>

  <tbody>
    {% for case in site.cases %}
      <tr>
        <td class="caseOptimalColumn">
          {% if case.optimal %}
            {{ case.optimal }}
          {% else %}
            <i>TBD</i>
          {% endif %}
        </td>
        <td class="caseName">
          <a href="{{ case.url | replace: '.html','' }}">
            {{ case.name }}
          </a>
        </td>
        <td class="caseImageColumn">
          {% assign image_path = case.short_name | prepend: '/assets/images/cases/' | append: ".png" %}
          {% assign file_exists = site.static_files | where: "path", image_path  %}

          {% if file_exists.size != 0 %}
            <figure class="caseFigure">
              <img class="caseImage" src="{{image_path}}">
            </figure>
          {% else %}
            <div><i>Sorry, no image exists.</i></div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
