---
title: "Case: {{ page.name }}"
layout: default
---
<div class="pageNav">
  <a class="backLink" href="/cases">
    <div ><-- Up</div>
  </a>

  <div class="quickLinks">
    Jump to: 
      <a href="#main">Title</a> - 
      <a href="#algs">Algorithms</a> - 
      <a href="#relatives">Related Cases</a>
  </div>
</div>



<h1 id="main">{{ page.name }}</h1>
<h2>
  Face(s): <a href="/faces/{{page.top_short_name}}">{{page.top_lr}} {{ page.top }}</a>
  {% if page.top != page.bot or page.top_lr != page.bot_lr %}
    / <a href="/faces/{{page.bot_short_name}}">{{page.bot_lr}} {{ page.bot }}</a>
  {% endif %}
</h2>

{{ content }}

<h2 id="recognition">Recognition</h2>

<div>image of faces here TBD</div>
<br>

<!-- 
  TODO both faces image near top
  https://cubiclealgdbimagegen.azurewebsites.net/generator?&stage=obl&puzzle=sq1&type=png&scheme=FFFFFF-FF0000-00FF00-EEEE00-FF00FF-0000FF&case=1,-1/-3,-3/1,-4/4,-2/2,-4/2,0/-2,4/1,-5/-3,0/-3,-3/5,4/6,0/6,0/
 -->

{% if page.recognition %}
  {{page.recognition}}
  <br>
  <br>
{% endif %}

<h2 id="algs">Algorithms</h2>

<div>
  <h3>Best Alg: {{page.default_alg.alg}}</h3>
  <!-- 
    TODO button to hide/show embeddable
    TODO button to replace alg in embeddable
  -->

  {% if page.default_alg.description %}
    {{page.default_alg.description}}
  {% endif %}

  <div>
    {% assign title = page.name | prepend: 'OBL: ' %}
    {% include squandb_embed.html title=title alg=page.default_alg.alg %}
  </div>
  <br>
  <br>

</div>

{% if page.mirror_algs %}
<br>
<div>
  <h3>Color Mirror Algs</h3>
  {% for alg in page.mirror_algs %}
    <div>
      <b>{{alg.alg}}</b>:
      {{alg.description}}
    </div>
  {% endfor %}
</div>
{% endif %}

{% if page.other_algs %}
<br>
<div>
  <h3>Other Algs</h3>
  {% for alg in page.other_algs %}
    <div>
      <b>{{alg.alg}}</b>:
      {{alg.description}}
    </div>
  {% endfor %}
</div>
{% endif %}

<br>
<br>
<br>



<h2 id="relatives">Related Cases</h2>

<div>
  <h3>Parent Case(s)</h3>
  Relatively useful cases that can be reached in one slice from this case.
  <ul>
    {% for case in page.parents %}
      <li>
        <a href="./{{case.short_name}}">{{case.name}}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<br>
<div>
  <h3>Mirror(s)</h3>
  {% if page.mirrors %}

  {% if page.mirrors.top_bot %}
    <div>
      <b>Top/Bottom Mirror</b>:
      When the top and bottom face are swapped directly.
      <ul>
        {% for mirror in page.mirrors.top_bot %}
          <li>
            <a href="./{{mirror.short_name}}">{{mirror.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.mirrors.lr %}
    <div>
      <b>Left/Right Mirror</b>:
      When the top and bottom face are swapped with their respective left/right mirrors.
      <ul>
        {% for mirror in page.mirrors.lr %}
          <li>
            <a href="./{{mirror.short_name}}">{{mirror.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if page.mirrors.pseudo %}
    <div>
      <b>Pseudo Mirror(s)</b>:
      When only one face is mirrored.  Not a real mirror, but it looks like one; don't be tricked!
      <ul>
        {% for mirror in page.mirrors.pseudo %}
          <li>
            <a href="./{{mirror.short_name}}">{{mirror.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% else %}
    <i>No mirrors found.</i>
  {% endif %}
</div>


