---
title: "Face: {{ page.name }}"
layout: default
---
<div class="pageNav">
  <a class="backLink" href="/faces">
    <div ><-- Up</div>
  </a>
</div>

<h1>{{ page.name }}</h1>
<h2>
	Type: {{ page.type }} 
	{% if page.nickname %} - AKA {{ page.nickname }} {% endif %}
</h2>

{{ content }}

{% if page.short_name %}
	{% assign image_path = page.short_name | prepend: '/assets/images/faces/' | append: ".jpg" %}
	{% assign file_exists = site.static_files | where: "path", image_path  %}

	{% if file_exists.size != 0 %}
		<figure class="faceFigure">
			<img class="faceImage" src="{{image_path}}">
			{% if page.has_lr %}
			<figcaption>
				The "Left" version of this case is pictured.
			</figcaption>
			{% endif %}
		</figure>
	{% else %}
		<div><i>Sorry, no image exists.</i></div>
	{% endif %}
{% endif %}
